@model List<string[]>
@{
    ViewData["Title"] = "Color Sheet";
}

<div class="text-center">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Color to Give</th>
                <th scope="col">Color to Call Off</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string[] s in Model) {
                <tr>
                    @{int post = @s[2].IndexOf("/");}

                    <td class="font-weight-bold">@s[0]</td>
                    <td class="font-weight-bold" style="background-color:@s[1].Substring(0, @s[1].IndexOf("/"))">@s[1]</td>
                    @if (post > 0) {
                        <td class="font-weight-bold" style="background-color:@s[2].Substring(0, @s[2].IndexOf("/"))">@s[2]</td>
                    }
                    else {
                        <td class="font-weight-bold" style="background-color:white;">@s[2]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
